body {
  background-image: url("../images/mainfit.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

div {
  text-align: center; }

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold; }

h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin-bottom: 30px; }

.bouton {
  border: solid black 2px;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: bold; }

.logo {
  width: 50px;
  height: 50px; }

span {
  font-family: 'Oswald', sans-serif; }

#section1 {
  height: 100vh;
  background-size: 400% 400%;
  background: linear-gradient(252deg, rgba(171, 255, 147, 0.8), rgba(240, 152, 25, 0.8), rgba(171, 255, 147, 0.8), rgba(240, 152, 25, 0.8));
  background-size: 400% 400%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  #section1 p {
    text-align: center;
    font-family: "Oswald", sans-serif; }
  #section1 #connexion:hover {
    background-color: rgba(171, 255, 147, 0.5);
    transition: 0.5s; }
  #section1 #inscription:hover {
    background-color: rgba(240, 152, 25, 0.5);
    transition: 0.5s; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  header #connexion {
    margin-top: 12px;
    font-size: 14px;
    width: 105px;
    height: 30px; }
  header .logo {
    width: 45px;
    height: 45px;
    margin-top: 3px; }

  #inscription {
    margin-top: 12px;
    font-size: 17px;
    width: 130px;
    height: 30px;
    position: relative;
    top: 125px; }

  h1 {
    position: relative;
    top: 100px; }

  #section1 p {
    position: relative;
    top: 115px; }
  #section1 span {
    position: relative;
    top: 190px;
    text-decoration: underline; } }
@media screen and (min-width: 768px) and (max-width: 1279px) {
  header #connexion {
    margin-top: 25px;
    font-size: 18px;
    width: 150px;
    height: 45px; }
  header .logo {
    width: 85px;
    height: 85px;
    margin-top: 3px; }

  #inscription {
    margin-top: 12px;
    font-size: 25px;
    width: 185px;
    height: 55px;
    position: relative;
    top: 270px; }

  h1 {
    position: relative;
    top: 245px;
    font-size: 80px; }

  #section1 p {
    position: relative;
    top: 250px;
    font-size: 30px; }
  #section1 span {
    font-size: 25px;
    position: relative;
    top: 380px;
    text-decoration: underline; } }
@media screen and (min-width: 1280px) {
  header #connexion {
    margin-top: 25px;
    font-size: 20px;
    width: 180px;
    height: 48px; }
  header .logo {
    width: 110px;
    height: 110px; }

  #inscription {
    margin-top: 12px;
    font-size: 30px;
    width: 240px;
    height: 55px;
    position: relative;
    top: 115px; }

  h1 {
    position: relative;
    top: 95px;
    font-size: 70px; }

  #section1 p {
    position: relative;
    top: 90px;
    font-size: 30px; }
  #section1 span {
    font-size: 25px;
    position: relative;
    top: 245px;
    text-decoration: underline; } }
#section2 {
  background-color: white; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 30px; }

  #section2 .icone {
    width: 50px;
    height: 50px; }
  #section2 span {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px; }
  #section2 p {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px; } }
@media screen and (min-width: 768px) and (max-width: 1279px) {
  h2 {
    font-size: 40px; }

  #section2 .icone {
    width: 70px;
    height: 70px; }
  #section2 span {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px; }
  #section2 p {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin-bottom: 30px; } }
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 50px; }

  #section2 .icone {
    width: 150px;
    height: 150px; }
  #section2 span {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px; }
  #section2 p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom: 55px; } }
.contacts {
  background-color: black;
  height: 100px; }
  .contacts span {
    font-family: 'Oswald', sans-serif;
    color: white; }

.contacts:hover {
  background-color: #404040;
  cursor: pointer; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts {
    padding-top: 35px; }
    .contacts span {
      font-size: 20px; }

  footer .contacts:nth-last-child(3) {
    padding-top: 20px; }

  .social_logo {
    width: 20px;
    height: 20px;
    margin-top: 10px; } }
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    padding-top: 40px; }
    .contacts span {
      font-size: 20px; }

  footer .contacts:nth-last-child(3) {
    padding-top: 20px; }

  .social_logo {
    width: 20px;
    height: 20px;
    margin-top: 10px; } }
@media screen and (min-width: 1280px) {
  .contacts {
    padding-top: 40px; }
    .contacts span {
      font-size: 20px; }

  footer .contacts:nth-last-child(3) {
    padding-top: 20px; }

  .social_logo {
    width: 20px;
    height: 20px;
    margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
